#service {
    color: var(--text-color);
    background-color: var(--primary-color);
    position: reltive;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.serviceTypo {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align--items: start;
    line-height: 3.9rem;
    transform: translateX(-7rem);
    margin-top: 5rem;
}

.outlineTypo {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
}

.techsection {
  width: 70%;
  text-align: center;
  background-color: var(--primary-color);
  height: 37vh;
}

.techsection > div {
  width: 14.6%;
  height: 16vh;
  max-height: 140px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
  border-radius: 20px;
  margin: 1%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease 0s;
  border: 2px solid var(--text-color);
}
.techsection > div:hover {
  background-color: var(--primary-color);
  overflow: hidden;
  transform: scale(1.08);
  box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 1px solid var(--text-color);
}

.techsection > div > svg {
  font-size: 8vh;
  color: var(--text-color);
}
.techsection > div > h5 {
  position: relative;
  top: 8px;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .techsection {
    height: 120vh;
  }
  .techsection > div {
    width: 47.5%;
    height: 18vh;
  }
    .serviceTypo {
        font-size: 3rem;
        line-height: 2.5rem;
    }
   .serviceTechStack span {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 350px) {
}